body,
button,
input,
select,
textarea {
	color: #090909;
	
	font-family:  Arial, Helvetica, sans-serif;
	
}
html{
overflow-x: hidden;

}
body{
	
	
	background-color: #ede8e4 !important;
	
}
header{
	background:#ede8e4 ;
}




img{
	
}
 nav img{
box-shadow: none;
}

a h3{
	 color:#cc8305;
}
a{
	color:#fff;
}
a:hover{
	text-decoration: none;
	color:#ccc;
}
ul li a{
	list-style:none;
	 font-size: 16px;
}
#contain ul li{
	list-style:disc;
	 font-size: 16px;
 
}

p{
	 font-family: Arial;
	 font-size: 16px;
}
span{
	font-size: 16px;
	text-transform:uppercase;
	 font-family: Arial;
}





nav span{
	text-transform: none;
}

h1{
	text-transform: uppercase;
	font-size: 400% !important;
	font-weight: bolder;
	text-align: center;
	line-height: 100px;

	font-family:Giveny;
	
}
h2{
	text-align: center;
	text-transform: uppercase;
    
	
}
h3{
	text-align: center;
	 text-transform:uppercase;
    font-size: 16px;
    color:#dea807 !important;
}
h6{
	font-weight: bolder;
}
p{
	 font-size: 14px
}
#footer{

	height: 400px;
}
